
.tpasfw-search:before { content: '\e800'; } /* '' */
.tpasfw-resize-small:before { content: '\e800'; } /* '' */
.tpasfw-search-1:before { content: '\e801'; } /* '' */
.tpasfw-resize-full:before { content: '\e801'; } /* '' */
.tpasfw-search-outline:before { content: '\e802'; } /* '' */
.tpasfw-search-2:before { content: '\e803'; } /* '' */
.tpasfw-popup:before { content: '\e803'; } /* '' */
.tpasfw-search-3:before { content: '\e804'; } /* '' */
.tpasfw-arrow-combo:before { content: '\e804'; } /* '' */
.tpasfw-search-5:before { content: '\e805'; } /* '' */
.tpasfw-resize-full-1:before { content: '\e805'; } /* '' */
.tpasfw-search-6:before { content: '\e806'; } /* '' */
.tpasfw-resize-full-alt-1:before { content: '\e806'; } /* '' */
.tpasfw-search-7:before { content: '\e807'; } /* '' */
.tpasfw-resize-small-1:before { content: '\e807'; } /* '' */
.tpasfw-basket:before { content: '\e808'; } /* '' */
.tpasfw-resize-small-alt:before { content: '\e808'; } /* '' */
.tpasfw-basket-1:before { content: '\e809'; } /* '' */
.tpasfw-bag:before { content: '\e80a'; } /* '' */
.tpasfw-list-nested:before { content: '\e80a'; } /* '' */
.tpasfw-basket-2:before { content: '\e80b'; } /* '' */
.tpasfw-resize-small-2:before { content: '\e80b'; } /* '' */
.tpasfw-basket-3:before { content: '\e80c'; } /* '' */
.tpasfw-resize-full-2:before { content: '\e80c'; } /* '' */
.tpasfw-basket-alt:before { content: '\e80d'; } /* '' */
.tpasfw-cart:before { content: '\e80e'; } /* '' */
.tpasfw-basket-4:before { content: '\e80f'; } /* '' */
.tpasfw-basket-circled:before { content: '\e810'; } /* '' */
.tpasfw-user:before { content: '\e811'; } /* '' */
.tpasfw-login:before { content: '\e812'; } /* '' */
.tpasfw-cancel:before { content: '\e813'; } /* '' */
.tpasfw-cancel-circled:before { content: '\e814'; } /* '' */
.tpasfw-cancel-circled2:before { content: '\e815'; } /* '' */
.tpasfw-cancel-1:before { content: '\e816'; } /* '' */
.tpasfw-cancel-circled-1:before { content: '\e817'; } /* '' */
.tpasfw-cancel-circled-outline:before { content: '\e818'; } /* '' */
.tpasfw-cancel-2:before { content: '\e819'; } /* '' */
.tpasfw-cancel-3:before { content: '\e81a'; } /* '' */
.tpasfw-left-open-big:before { content: '\e81b'; } /* '' */
.tpasfw-right-open-big:before { content: '\e81c'; } /* '' */
.tpasfw-left-open-mini:before { content: '\e81d'; } /* '' */
.tpasfw-right-open-mini:before { content: '\e81e'; } /* '' */
.tpasfw-left-open:before { content: '\e81f'; } /* '' */
.tpasfw-right-open:before { content: '\e820'; } /* '' */
.tpasfw-left-bold:before { content: '\e821'; } /* '' */
.tpasfw-right-bold:before { content: '\e822'; } /* '' */
.tpasfw-left-small:before { content: '\e823'; } /* '' */
.tpasfw-right-small:before { content: '\e824'; } /* '' */
.tpasfw-left-circle:before { content: '\e825'; } /* '' */
.tpasfw-right-circle:before { content: '\e826'; } /* '' */
.tpasfw-left-dir:before { content: '\e827'; } /* '' */
.tpasfw-right-dir:before { content: '\e828'; } /* '' */
.tpasfw-left-circle-1:before { content: '\e829'; } /* '' */
.tpasfw-right-circle-1:before { content: '\e82a'; } /* '' */
.tpasfw-menu:before { content: '\f008'; } /* '' */
.tpasfw-th-list:before { content: '\f009'; } /* '' */
.tpasfw-th-thumb:before { content: '\f00a'; } /* '' */
.tpasfw-th-thumb-empty:before { content: '\f00b'; } /* '' */
.tpasfw-link-ext:before { content: '\f08e'; } /* '' */
.tpasfw-filter:before { content: '\f0b0'; } /* '' */
.tpasfw-resize-full-alt:before { content: '\f0b2'; } /* '' */
.tpasfw-sort:before { content: '\f0dc'; } /* '' */
.tpasfw-desktop:before { content: '\f108'; } /* '' */
.tpasfw-tablet:before { content: '\f10a'; } /* '' */
.tpasfw-mobile:before { content: '\f10b'; } /* '' */
.tpasfw-sort-alt-up:before { content: '\f160'; } /* '' */
.tpasfw-sort-alt-down:before { content: '\f161'; } /* '' */
.tpasfw-cart-plus:before { content: '\f217'; } /* '' */
.tpasfw-cart-arrow-down:before { content: '\f218'; } /* '' */
.tpasfw-opencart:before { content: '\f23d'; } /* '' */
.tpasfw-user-circle:before { content: '\f2bd'; } /* '' */
.tpasfw-user-circle-o:before { content: '\f2be'; } /* '' */
.tpasfw-user-o:before { content: '\f2c0'; } /* '' */
.tpasfw-window-close:before { content: '\f2d3'; } /* '' */
.tpasfw-window-close-o:before { content: '\f2d4'; } /* '' */
.tpasfw-search-4:before { content: '\f50d'; } /* '' */
